input[type=text]:focus {
  border: none;
}

body {
    background-color: #29bfb636;
}

input {
    border:0;
    outline:0;
    font-size: 20px;
    font-family: 'Radio Canada', sans-serif;
    padding: 0px 8px;
    color: #4f4f4f;
}

input:focus {
    outline:none!important;
}

select {
    /* reset */
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
}

select.gift-main-form-input {
    background-image:
        linear-gradient(45deg, transparent 50%, gray 50%),
        linear-gradient(135deg, gray 50%, transparent 50%),
        linear-gradient(to right, #ccc, #ccc);
    background-position:
        calc(100% - 20px) calc(1em + 2px),
        calc(100% - 15px) calc(1em + 2px),
        0 0;
        /*calc(100% - 2.5em) 0.5em;*/
    background-size:
        5px 5px,
        5px 5px,
        1px 1.5em;
    background-repeat: no-repeat;
    font-size: 20px;
    padding: 0px 8px;
    font-family: 'Radio Canada', sans-serif;
    color: #4f4f4f;
    width: 416px;
}

select.gift-main-form-input:focus {
    border-color: grey;
    outline: 0;
}

select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
}

option {
    font-size: 20px;
    font-family: 'Radio Canada', sans-serif;
    color: #4f4f4f;
}

.wishlist-main {
    font-family: 'Radio Canada', sans-serif;
    background-color: #00E5D826;
}

.gift-main-form-container {
    position: absolute;
    top: 320px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 340px;
    width: 500px;
    background-color: #0d7394;
    z-index: 5;
    border-radius: 13px;
    left: 45px;
}

.gift-main-form-input {
    border: unset;
    height: 50px;
    width: 400px;
    border-radius: 6px;
}

.gift-main-cover {
    height: 700px;
    position: absolute;
    top: 55px;
    left: 477px;
    background-image: url(https://images.unsplash.com/photo-1544569975-8e155329f348?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2831&q=80);
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    overflow: hidden;
}

.gift-main-cover-top {
    height: 600px;
    position: absolute;
    top: 55px;
    left: 477px;
    width: 100%;
    background-size: contain;
    overflow: hidden;
    /*background-color: #0d73942b;*/
}

.wish-button {
    background-image: url(https://images.unsplash.com/photo-1531306728370-e2ebd9d7bb99?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80);
    height: 40px;
    width: 175px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #d9fcfa;
    text-transform: uppercase;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    float: right;
    margin-top: 20px;
    cursor: pointer;
}

.wish-button:hover {
    color: white;
    /*transform: scale(1.3);*/
    background-position: bottom;
}

.gift-main-description {
    position: absolute;
    top: 129px;
    left: 23px;
    background-color: #ffffff94;
    width: 381px;
    height: 104px;
    border-radius: 12px;
    color: #007497;
    padding: 20px;
    font-size: 21px;
    font-style: italic;
}

.gift-description-image {
    width: 87px;
    position: absolute;
    top: 164px;
    left: 338px;
}