.wishlist-copy-container {
    position: absolute;
    top: 125px;
    left: 1106px;
    font-family: 'Radio Canada', sans-serif;
}

.wishlist-copy-icon {
    height: 30px;
    margin-right: 8px;
}

.wishlist-copy-text {
    font-size: 14px;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
}

.wishlist-copy-text:hover {
    text-decoration: underline;
}

.wishlist-copy-hint {
    color: grey;
    margin-left: 8px;
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
     }
}
