.wishlist-container {
    display: flex;
    justify-content: center;
    max-width: 1480px;
    margin: auto;
    padding-top: 180px;
    padding-bottom: 40px;
    /*background-color: #c8dedf;*/
    /*background-color: #00e5d826;*/
    /*background-color: #00e5d83d;*/
    background-color: #00e5d81f;
    min-height: 800px;
    flex-wrap: wrap;
    font-family: 'Radio Canada', sans-serif;
    overflow: hidden;
}

.wishlist-title {
    position: absolute;
    top: 84px;
    left: 151px;
    color: white;
    font-size: 32px;
    text-decoration: overline;
    font-family: 'Radio Canada', sans-serif;
}

.empty-title {
    top: 280px;
    left: 750px;
    color: black;
    font-size: 36px;
}

.wishlist-add-button {
    position: absolute;
    top: 84px;
    left: 1151px;
    font-family: 'Radio Canada', sans-serif;
    font-size: 20px;
    color: white;
    text-transform: uppercase;
    padding: 8px 16px;
    background-color: #047394;
    border-radius: 6px;
}

.empty-button {
    top: 466px;
    left: 670px;
    font-size: 26px;
    padding: 36px 46px;
}

.wishlist-add-button:hover {
    background-color: #047394b5;
    cursor: pointer;
}

.empty-list {
    background-image: url(https://images.unsplash.com/flagged/photo-1551373916-bdaddbf4f881?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80);
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: 56px;
}

.wishlist-empty-title {
    top: 466px;
    left: 538px;
    font-size: 26px;
    padding: 36px 46px;
    position: absolute;
    font-family: 'Radio Canada', sans-serif;
    color: black;
    text-transform: uppercase;
    border-radius: 6px;
}
