#main-content {
    /*background-color: #c8dedf;*/
}

.logo-image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 180px;
    border-radius: 0 0 8px 8px;
}

.login-button {
    margin: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: #c8dedf;
    border-radius: 4px;
}

.user-container {
    position: absolute;
    top: 20px;
    right: 20px;
    border: 1px solid white;
    padding: 10px;
    border-radius: 50%;
    font-family: system-ui;
    font-size: 13px;
}