.gift-button {
    width: 130px;
    height: 50px;
    cursor: pointer;
    appearance: auto;
    font-size: 18px;
    background-color: #047394;
    /*border: 1px solid grey;*/
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-weight: 200;
    text-align: center;
    /*box-shadow: 0 3px 5px lightgrey;*/
    color: white;
}

.gift-button:hover {
    /*box-shadow: 0 3px 5px grey;*/
    background-color: #047394b5;
}

.unbook-button {
    background-color: #c8dedf;
}

.booked-gift-button {
    background-color: #d6d7d794;
    color: #4f4e4e;
}

.booked-gift-button:hover {
    box-shadow: unset;
    cursor: not-allowed;
    background-color: #d6d7d794;
}

.gift-container {
    height: 413px;
    width: 400px;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    position: relative;
}

.gift-line {
    border-top: 4px dotted white;
    position: absolute;
    top: 170px;
    width: 4000px;
    /*problem with dots*/
}

.gift {
    padding: 20px;
    background-color: rgb(252 255 255);
    /*box-shadow: 9px 9px 6px 1px hsl(183deg 18% 76%);*/
    border-radius: 13px;
    width: 300px;
    z-index: 10;
    position: relative;
}

.my-gift {
    padding: 17px;
    top: -51px;
    left: 180px;
    background: white;
    z-index: -100;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    opacity: 0.7;
    border-top: 3px solid #047394;
    border-right: 4px solid #047394;
    color: #202424;
    position: absolute;
    text-transform: uppercase;
    font-size: 12px;
}

.gift-title {
    text-transform: uppercase;
    font-weight: 300;
    font-size: 20px;
    margin-bottom: 16px;
    color: #047394;
    max-width: 300px;
    height: 40px;
}


.gift-image-root-container {
    width: 300px;
    height: 250px;
    overflow: hidden;
    margin-bottom: 12px;
}


.gift-image-container {
    text-align: center;
    width: 300px;
    height: 250px;
    position: relative;
    display: grid;
    justify-items: center;
    overflow: hidden;
    transition: transform .8s ease;
}

.gift-image {
    max-height: 250px;
    max-width: 300px;
}

.gift-image-container:hover {
  transform: scale(1.3);
}

.gift-image-container:after {
    content: "";
    display: block;
    width: 300px;
    height: 250px;
    /*background: radial-gradient(circle at center, transparent 90%, #282929),radial-gradient(circle at center, transparent 80%, grey);*/
    position: absolute;
    top: 0;
    left: 0;
    /*border: 1px solid grey;*/
    box-sizing: border-box;
    /*box-shadow: inset 0 0 11px 4px #00000085;*/
}

.gift-action-container {
    display: flex;
    justify-content: space-between;
}

.gift-comment {
    position: relative;
}

.gift-comment-popover {
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.7);
    width: 304px;
    position: absolute;
    border-radius: 3px;
    font-size: 13px;
}

.gift-icon-price {
    width: 14px;
    margin-right: 4px;
}

.gift-link {
    cursor: pointer;
    margin-bottom: 4px;
}

.gift-link-href {
    text-decoration: none;
    color: grey;
    font-style: italic;
    display: flex;
    align-items: center;
    font-size: 14px;
}

.gift-price {
    display: flex;
    margin-bottom: 4px;
    align-items: center;
    color: grey;
    font-size: 13px;
}

.gift-icon {
    width: 16px;
    margin-right: 4px;
}

.gift-delete-button {
    position: absolute;
    top: 7px;
    left: 285px;
    cursor: pointer;
    font-weight: bold;
    text-decoration: underline;
    color: #737171;
}

.gift-delete-button:hover {
    text-decoration: unset;
}