.gift-form-base {
    position: fixed;
    top: 0;
    z-index: 20;
    background-color: #087394c4;
    height: 100%;
    width: 100%;
}

.gift-form-container {
    position: relative;
    margin: auto;
    margin-top: 155px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
    width: 800px;
    background-color: #0d7394;
    z-index: 5;
    border-radius: 13px;
}

.gift-form-input {
    border: unset;
    height: 50px;
    width: 650px;
    border-radius: 6px;
}

.gift-input-inner-container {
    padding: 30px;
}

.gift-input-container {
    margin-bottom: 16px;
}

.gift-form-input.short {
    width: 320px;
}

.gift-input-title {
    margin-bottom: 12px;
    font-size: 20px;
    color: white;
    text-transform: uppercase;
    font-family: 'Radio Canada', sans-serif;
}

.gift-input-title.separate {
    margin-left: 40px;
}

.gift-main-inputs {
    display: flex;
}

.gift-input-image {
    width: 300px;
    height: 156px;
    background: white;
    margin-left: 40px;
    color: grey;
    text-transform: uppercase;
    border-radius: 6px;
    margin-top: 12px;
    text-align: center;
    font-family: 'Radio Canada', sans-serif;
}

.gift-close-button-icon {
    font-size: 30px;
    color: black;
    background-color: #84ecff38;
    border-top-right-radius: 13px;
    border-bottom-left-radius: 13px;
    padding: 8px;
    position: absolute;
    top: 155px;
    left: 1080px;
    z-index: 10;
}

.gift-close-button-icon:hover {
    background-color: #c8dedfb3;
    cursor: pointer;
}

.gift-image-default {
    width: 100px;
    margin-top: 12px;
}

.gift-image-upload {
    margin-top: 8px;
    text-decoration: underline;
    text-transform: lowercase;
    background-color: #ffffffc9;
    border-radius: 7px;
    padding: 6px 0px;
}

.gift-image-upload label {
    cursor: pointer;
}

.gift-image-upload:hover {
    text-decoration: none;
}

input[type=text]:focus {
  border: none;
}

input {
    border:0;
    outline:0;
    font-size: 20px;
    font-family: 'Radio Canada', sans-serif;
    padding: 0px 8px;
    color: #4f4f4f;
}

input:focus {
    outline:none!important;
}

input[type="file"] {
    display: none;
}

.gift-submit-button {
    text-transform: uppercase;
    margin: auto;
    width: 170px;
    margin-top: 28px;
    padding: 8px 0;
    text-align: center;
    font-family: 'Radio Canada', sans-serif;
    color: white;
    border: 1px solid white;
    border-radius: 8px;
    cursor: pointer;
}

.gift-submit-button:hover {
    background-color: #3688a3;
}