{% load static %}

<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" lang="ru-ru" xml:lang="ru-ru" >
    <head>
        {% block head %}
            <meta http-equiv="X-UA-Compatible" content="IE=edge" />
            <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
            <title>
                {% block title %}
                    Wishli
                {% endblock %}
            </title>
            {% block head_style %}
                <link href="{% static 'css/main.css' %}" rel="stylesheet" type="text/css">
                <link href="/static/images/favicon.ico" rel="ICON"/>
                <link href="https://fonts.googleapis.com/css2?family=Radio+Canada&display=swap" rel="stylesheet">
            {% endblock %}
        {% endblock %}
    </head>
    <body>
        {% block body %}
            <div class="content-wrapper">
                {% block content %}{% endblock %}
            </div>
        {% endblock %}
        {% csrf_token %}
    </body>
</html>
