{% extends 'base.html' %}
{% block title %} Login {% endblock %}
{% block content %}
<div class="login-page">
    <button class="login-button">
        <a href="{% url 'social:begin' 'facebook' %}">Login with Facebook</a>
    </button>
</div>
{% endblock %}