{% extends 'base.html' %}
{% load static %}
{% load render_bundle from webpack_loader %}


{% block body %}
    <div id="spa_container" {% if initial_state %}data-state="{{ initial_state }}"{% endif %}></div>
    <script>
        window.initial_state = {{ initial_state|safe }}
        window.release = "{{ release }}"
    </script>
    <a href="/"><img alt="logo" src="/static/images/logo.png" class="logo-image"></a>
    {% if initial_state.currentUser %}
        <div class="user-container">
            <div>{{ initial_state.currentUser.first_name }}</div>
        </div>
    {% endif %}
    <div id="spa_container"></div>
    {% render_bundle 'spa' %}
{#    {% block non_spa_content %}{% endblock %}#}
{% endblock %}
